/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
body {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-size: var(--size-step-1);
  font-family: var(--font-base);
  line-height: 1.4;
  letter-spacing: var(--tracking);
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

/* Base typesetting */
h1,
h2,
h3 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
  font-family: var(--font-display);
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-3);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 50ch;
}

h1,
h2,
h3 {
  max-inline-size: 20ch;
}

blockquote {
  border-inline-start: 0.8rem solid var(--color-primary);
  padding: var(--space-m-l);
  font-size: var(--size-step-2);
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
}

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
}

a:hover {
  color: #B80103;
  text-decoration: none;
}

:focus {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

.author {
  font-size: 75%;
}

.webmentions p {
  margin-bottom: 1em; /* Adjust the value as needed */
  margin-top: 0.5em;
}

.webmentions p a {
  margin-right: 0.5em; /* Adjust the spacing between items */
}

.webmentions p a:last-child {
  margin-right: 0; /* Remove the spacing for the last item */
}

.mention-reply {
  display: flex;
  margin-bottom: 1em;
  font-size: 75%;
}

.mastodon-link {
  display: flex;
  margin-bottom: 1em;
}

.mention-reply a {
  margin-right: 0.5em;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.mention-reply img {
  vertical-align: middle; /* Align the image vertically with the text */
}

.mention-reply span {
  margin-left: 0.5em; /* Add spacing between the image and text */
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-primary);
  color: var(--color-light);
}

.preload-transitions * {
  transition: none !important;
}
