.logo {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  letter-spacing: var(--tracking-s);
  padding: var(--space-s) 1rem; /* Add left and right padding */
  font-size: var(--size-step-1);
}

.site-head__brand.no-underline {
  color: inherit;
  text-decoration: none;
}

.site-head__brand.no-underline[aria-current="page"] {
  color: white !important;
  text-decoration: none !important;
}

.site-head__brand.no-underline:hover {
  color: white !important;
  text-decoration: underline !important;
}

/* Add this to remove the focus outline */
.site-head__brand.no-underline:focus {
  outline: none;
}

@media (max-width: 600px) {
  .logo {
    display: block;
    width: 100%;
    padding: var(--space-s) 0;
    box-sizing: border-box;
  }

  .site-head__brand {
    margin-left: 0;
    text-align: left;
    width: 100%;
    padding-left: 0;
  }
}