.site-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* spreads out the logo/menu and icons */
  background-color: #b80103;
  width: 100vw;
  height: 97px;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  color: white;
  padding: 0 1rem; /* Optional: horizontal padding */
}

.site-head__social-icons {
  display: flex;
  gap: var(--space-s);
}

.site-head__social-icons a {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}