<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://cybercultural.com#website",
      "url": "https://cybercultural.com/",
      "name": {{ meta.siteName | toJsonLd | safe }},
      "alternateName": "Cybercultural: Internet History Website",
      "description": {{ meta.siteDescription | toJsonLd | safe }},
      "inLanguage": "{{ meta.inLanguage }}",
      "publisher": {
        "@type": "Organization",
        "name": "Cybercultural",
        "url": "https://cybercultural.com/",
        "logo": {
          "@type": "ImageObject",
          "url": "https://cybercultural.com/assets/images/cybercultural-logo-800px.png"
        }
      }
    },
    {
      "@type": "Person",
      "@id": "{{ meta.author.url }}#person",
      "name": {{ meta.author.name | toJsonLd | safe }},
      "url": "{{ meta.author.url }}",
      "image": "{{ meta.url }}{{ meta.author.image }}",
      "jobTitle": {{ meta.author.jobTitle | toJsonLd | safe }},
      "sameAs": {{ meta.author.sameAs | toJsonLd | safe }},
      "knowsAbout": {{ meta.author.knowsAbout | toJsonLd | safe }},
      "worksFor": {
        "@type": "Organization",
        "name": {{ meta.author.worksFor.name | toJsonLd | safe }},
        "url": "{{ meta.author.worksFor.url }}"
      }
    },
    {
      "@type": "Book",
      "@id": "{{ meta.author.book.url }}#book",
      "name": {{ meta.author.book.name | toJsonLd | safe }},
      "url": "{{ meta.author.book.url }}",
      "author": {
        "@id": "{{ meta.author.url }}#person"
      }
    }
  ]
}
</script>
