<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://cybercultural.com#website",
      "url": "https://cybercultural.com",
      "name": "Cybercultural",
      "description": "Internet history and its impact on our culture.",
      "logo": {
        "@type": "ImageObject",
        "url": "https://cybercultural.com/assets/images/Cybercultural-logo.jpg"
      },
      "inLanguage": "en_US",
      "publisher": {
        "@type": "Organization",
        "name": "Cybercultural",
        "url": "https://cybercultural.com",
        "logo": {
          "@type": "ImageObject",
          "url": "https://cybercultural.com/assets/images/Cybercultural-logo.jpg"
        }
      }
    }
  ]
}
</script>
