<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://cybercultural.com{{ page.url }}"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "@id": "https://cybercultural.com{{ page.url }}",
    "headline": "{{ title or meta.siteName }}",
    "description": "{{ discover.description or description or meta.siteDescription }}",
    "image": "{{ meta.url }}{% if featureImage %}{{ featureImage }}{% else %}/assets/images/33d48ded-f999-4173-8440-9d752446428b_3400x2134.jpg{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.organization.name }}",
      "url": "{{ meta.url }}/"
    },
    "author": {
      "@type": "Person",
      "name": "{{ meta.author.name }}",
      "url": "https://cybercultural.com/about/"
    },
    "datePublished": "{{ date | toIsoString }}"
  }
</script>