{%- set postTagInfo = tags | schemaTags -%}
{%- set postImage = featureImage or meta.defaultimage -%}
{%- set postImageSize = postImage | imageDimensions -%}
{%- set postWordCount = page.rawInput | wordCount -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://cybercultural.com{{ page.url }}"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "@id": "https://cybercultural.com{{ page.url }}",
    "headline": {{ (title or meta.siteName) | toJsonLd | safe }},
    "description": {{ (discover.description or description or meta.siteDescription) | toJsonLd | safe }},
    "image": {
      "@type": "ImageObject",
      "url": "{{ meta.url }}{{ postImage }}",
      "contentUrl": "{{ meta.url }}{{ postImage }}"{% if postImageSize %},
      "width": {{ postImageSize.width }},
      "height": {{ postImageSize.height }}{% endif %}
    },
    "inLanguage": "{{ meta.inLanguage }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": {{ meta.organization.name | toJsonLd | safe }},
      "url": "{{ meta.url }}/"
    },
    "author": {
      "@type": "Person",
      "@id": "{{ meta.author.url }}#person",
      "name": {{ meta.author.name | toJsonLd | safe }},
      "url": "{{ meta.author.url }}"
    },
    "datePublished": "{{ date | toIsoString }}",
    "dateModified": "{{ (lastUpdated or date) | toIsoString }}",
    {% if postTagInfo.keywords.length %}"keywords": {{ postTagInfo.keywords | toJsonLd | safe }},
    {% endif %}{% if postTagInfo.section %}"articleSection": {{ postTagInfo.section | toJsonLd | safe }},
    {% endif %}{% if postWordCount %}"wordCount": {{ postWordCount }},
    {% endif %}"about": [
      {% for entity in postTagInfo.about %}{
        "@type": "Thing",
        "name": {{ entity.name | toJsonLd | safe }},
        "sameAs": {{ entity.sameAs | toJsonLd | safe }}
      }{% if not loop.last %},
      {% endif %}{% endfor %}
    ]
  }
</script>
