<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "@id": "https://cybercultural.com{{ page.url }}",
    "url": "https://cybercultural.com{{ page.url }}",
    "name": {{ ((title or meta.siteName) ~ ((", " ~ pageOf) if pageOf else "")) | toJsonLd | safe }},
    "description": {{ (((pageOf ~ ": ") if pageOf else "") ~ (description or meta.siteDescription)) | toJsonLd | safe }},
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "inLanguage": "{{ meta.inLanguage }}"
  }
</script>
