<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://cybercultural.com{{ page.url }}",
    "url": "https://cybercultural.com{{ page.url }}",
    "name": "{{ title or meta.siteName }}",
    "description": "{{ description or meta.siteDescription }}",
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "inLanguage": "{{ meta.locale }}"
  }
</script>
