---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>
</header>

<article class="wrapper region">
<div class="wrapper flow prose">
<p>The serialization of my Web 2.0 memoir: "Bubble Blog: From Outsider to Insider in Silicon Valley's Web 2.0 Revolution". 
For more about this project, read <a href="/p/bubble-blog-web20-memoir/">my launch post</a> from October 2023.</p>
</div>
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% for post in collections.posts %}
      {% if 'Memoir' in post.data.tags %}
        <li class="card flow overflow-hidden">
          <h2>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h2>
          {% set definedDate = post.date %} {% include "partials/date.njk" %}
          <p>{{ post.data.description }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>

