---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Get notified of new posts:</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address" />
  
  <input type="submit" value="Submit" />
</form>
  </div>

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts | reverse %}
    {% for post in postslist.slice(0, 8) %}
    <li class="card flow overflow-hidden">
      {% if post.data.featureImage %}
      <img 
        class="post-feature-image" 
        src="{{ post.data.featureImage | url }}" 
        alt="{{ post.data.title }}"
        {% if loop.index <= 2 %} loading="eager" {% else %} loading="lazy" {% endif %}>
      {% endif %}
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      {% set definedDate = post.date %} 
      {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>
    {% endfor %}
  </ul>

  <div class="wrapper flow prose">
    <p>To explore Cybercultural's archive, you can browse by category:</p>
    <ul>
      <li><a href="/preweb">Pre-web</a></li>
      <li><a href="/dotcom">Dot-com</a></li>
      <li><a href="/web20">Web 2.0</a></li>
      <li><a href="/personal">Personal</a></li>
    </ul>
    <p>Alternatively, <a href="/search">search</a> for a topic of interest.</p>
  </div>

</article>
