---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog" data-pagefind-body>
  <div class="wrapper flow prose">
    <h1 class="red-text">{{ title }}</h1>

    <em>{% set definedDate = date %} {% include "partials/date.njk" %}</em>

    <p>{{ description | safe }}</p>
    {{ content | safe }}

{% for webmention in webmentions %}
	<!-- Loop through all webmentions on a given page -->
	{{ webmention.author.name }} sent this page a {{ webmention | getType }}
{% endfor %}

<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
</form>

<h2>Support Cybercultural</h2>

<p>Cybercultural is a free newsletter. If you enjoy it 
and would like to help cover costs, please consider 
a one-time or loyal donation. Your support means a lot.</p>

<h3>Regular Donation</h3>
<ul>
<li><a href="https://buy.stripe.com/9AQeXn2eDcRk0126op">£5 per month</a></li> 
<li><a href="https://buy.stripe.com/aEU6qRf1p8B46pq002">£48 per year</a></li>
</ul>

<h3>One-Time Donation</h3>
<ul>
<li><a href="https://buy.stripe.com/bIY4iJg5t4kO5lmfZ1">One-time donation</a> in any amount</li>
</ul>

  </div>
</article>
