---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog" data-pagefind-body>
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>    
    <p>{{ description | safe }}</p>
    <span class="author">By <a href="/about/">Richard MacManus</a> | {% set definedDate = date %} {% include "partials/date.njk" %}</span>

    {{ content | safe }}

<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Subscribe via email:</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
</form>

<p>There are also <a href="/subscribe/">premium subscription options</a> for Cybercultural. Your support for this indie publication would be greatly appreciated.</p>
  </div>
</article>
