---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog" data-pagefind-body>
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>    
    <p class="lede">{{ description | safe }}</p>
    <span class="author">By <a href="/about/">Richard MacManus</a> | 
    {% set definedDate = date %} {% include "partials/date.njk" %}
    {#- Shown month-and-year, but the datetime attribute keeps the exact day. -#}
    {%- if lastUpdated %} | Updated <time datetime="{{ lastUpdated | toIsoString }}">{{ lastUpdated | formatDate('MMM YYYY') }}</time>{% endif -%}
    {% if tags %} | Tags:&nbsp;
    {%- set nonPostsTags = [] -%}
    {%- for tag in tags -%}
      {%- if tag != "posts" -%}
        {%- set nonPostsTags = nonPostsTags.concat([tag]) -%}
      {%- endif -%}
    {%- endfor -%}

    {%- for tag in nonPostsTags -%}
      {#- Labels live in src/_data/taxonomy.js, shared with the post schema. -#}
      {%- set tagTitle = taxonomy.tags[tag].label -%}

      {%- if tagTitle -%}
        <a href="/{{ tag | slug }}">{{ tagTitle }}</a>
      {%- else -%}
        <a href="/tags/{{ tag | slug }}">{{ tag }}</a>
      {%- endif -%}

      {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
    </span>
    {% endif %}

    {{ content | safe }}
  </div>
</article>

<div class="wrapper flow prose post-extras blog">
<hr>
<div class="author-box">
  <img src="/assets/images/richard-macmanus.jpg" alt="Richard MacManus" width="400" height="400" sizes="5rem">
  <p><strong><a href="/about/">Richard MacManus</a></strong> founded the pioneering tech blog ReadWriteWeb (2003-2012) and wrote the Web 2.0 memoir <a href="/p/book-release-bubbleblog/"><em>Bubble Blog</em></a>. He is now Head of Editorial at Latent Space.</p>
</div>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Cybercultural is a blog about internet history and its cultural impact. Subscribe:</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address" autocomplete="email" />
  <input type="submit" value="Submit" />
</form>

<script src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script>kofiwidget2.init('Support Cybercultural', '#b80103', 'F1F61AI58P');kofiwidget2.draw();</script>

<h2>Buy the Book</h2>
<p>My <a href="/p/book-release-bubbleblog/">Web 2.0 memoir</a>, <em>Bubble Blog: From Outsider to Insider in Silicon Valley&#39;s Web 2.0 Revolution</em>, is now available to purchase:</p>
<ul>
<li>Paperback, US$19.99: <a href="https://www.amazon.com/Bubble-Blog-Outsider-Insider-Revolution/dp/B0DQKRB3P5?&linkCode=ll1&tag=richardmacman-20&linkId=b38f92f2c0bd2c9f05cda3a07413fd40&language=en_US&ref_=as_li_ss_tl" target="_blank">Amazon</a>; <a href="https://bookshop.org/p/books/bubble-blog-from-outsider-to-insider-in-silicon-valley-s-web-2-0-revolution-richard-macmanus/22135084" target="_blank">Bookshop.org</a></li>
<li>eBook, US$9.99: <a href="https://www.amazon.com/Bubble-Blog-Outsider-Insider-Revolution-ebook/dp/B0DQJQ4LJ9?&linkCode=ll1&tag=richardmacman-20&linkId=63e982f1c9d1ded8c83666d8b6917ff7&language=en_US&ref_=as_li_ss_tl" target="_blank">Amazon Kindle Store</a>; <a href="http://books.apple.com/us/book/id6739734992" target="_blank">Apple Books</a>; <a href="https://play.google.com/store/books/details?id=Sug5EQAAQBAJ" target="_blank">Google Play</a></li>
</ul>

<p>Or search for &quot;Bubble Blog MacManus&quot; on your local online bookstore.</p>

{#- Related reading: posts sharing the most tags with this one (AEO plan item 9). -#}
{%- set relatedPosts = helpers.getRelatedContent(collections.posts, page.url, tags, 3) -%}
{%- if relatedPosts.length %}
<h2>Related posts</h2>
<ul class="related-posts">
  {%- for post in relatedPosts %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    {%- if post.data.description %} &mdash; {{ post.data.description }}{% endif %}
  </li>
  {%- endfor %}
</ul>
{%- endif %}
</div>
