---
layout: base
schema: blog
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1>{{ title }} | Cybercultural</h1>

Want to check if your name pops up in my Web 2.0 memoir? Or see what I've written about Ajax or Flickr? Search Cybercultural here:

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

  </div>
</article>