---
layout: base
schema: blog
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

<p><a href="/">Cybercultural</a> is an internet history website by Richard MacManus. You can subscribe for free by adding your email address below.</p> 

<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Subscribe to Cybercultural:</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address" />
  
  <input type="submit" value="Submit" />
</form>

<p>You may also subscribe <a href="https://cybercultural.com/feed.xml">via our RSS feed</a>.</p>

  </div>
</article>