---
layout: base
schema: blog
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

<p><a href="/">Cybercultural</a> is an internet history website by Richard MacManus. You can subscribe for free by adding your email address below.</p> 

<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Subscribe to Cybercultural:</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address" />
  
  <input type="submit" value="Submit" />
</form>

<p>You can also subscribe <a href="https://cybercultural.com/feed.xml">via our RSS feed</a>.</p>

<p>We no longer offer premium subscriptions, but you can support Cybercultural via a small donation on <a href="https://ko-fi.com/cybercultural">our Ko-fi page</a>.</p>
<script src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script>kofiwidget2.init('Support me on Ko-fi', '#b80103', 'F1F61AI58P');kofiwidget2.draw();</script>
<p>Cybercultural is independently hosted and free to read. Your donation will help with ongoing operation costs.</p>

  </div>
</article>