---
layout: base
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

<p><a href="/">Cybercultural</a> is an internet history newsletter by Richard MacManus. You can subscribe for free by adding your email address below.</p> 

<form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Get notified of new posts:</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address" />
  
  <input type="submit" value="Submit" />
</form>

<p>You can also become a premium subscriber for <a href="https://buy.stripe.com/9AQeXn2eDcRk0126op">£5 per month</a> or <a href="https://buy.stripe.com/aEU6qRf1p8B46pq002">£48 per year</a>. Click one of those links to purchase a subscription.</p> 

<p>Paid subscribers will receive the occasional bonus post by email, plus a thank-you mention in the paperback version of “Bubble Blog: From Outsider to Insider in Silicon Valley’s Web 2.0 Revolution" (to be published in 2024; see the <a href="/p/roadmap-bubbleblog/">table of contents</a>).</p>

  </div>
</article>