---
layout: base
schema: blog
---

<article class="wrapper region">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>
    <p>Reviews of specific years in internet history.</p> 

<ol>
<li>Dot-com: <a href="/p/internet-1994/">1994</a> · <a href="/p/internet-1995/">1995</a> · <a href="/p/internet-1996/">1996</a> · <a href="/p/internet-1997/">1997</a> · <a href="/p/internet-1998/">1998</a> · <a href="/p/internet-1999/">1999</a> · <a href="/p/internet-2000/">2000</a> · <a href="/p/internet-2001/">2001</a> · <a href="/p/internet-2002/">2002</a> · <a href="/p/internet-2003/">2003</a></li>
<li>Web 2.0: <a href="/p/internet-2004/">2004</a> · <a href="/p/internet-2005/">2005</a> · <a href="/p/internet-2006/">2006</a> · <a href="/p/internet-2007/">2007</a> · <a href="/p/internet-2008/">2008</a> · <a href="/p/internet-2009/">2009</a> · <a href="/p/internet-2010/">2010</a> · <a href="/p/internet-2011/">2011</a> · <a href="/p/internet-2012/">2012</a></li>
</ol>
        
    <form
  action="https://buttondown.email/api/emails/embed-subscribe/ricmac"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ricmac', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Subscribe to Cybercultural:</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address" />
  
  <input type="submit" value="Submit" />
</form>
  </div>

  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% for post in pagedPosts %}
      <li class="card flow overflow-hidden">
      {% if post.data.featureImage %}
      <img 
        class="post-feature-image" 
        src="{{ post.data.featureImage | url }}" 
        alt="{{ post.data.title }}"
        {% if loop.index <= 2 %} loading="eager" {% else %} loading="lazy" {% endif %}>
      {% endif %}
        <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        {% set definedDate = post.date %} {% include "partials/date.njk" %}
        <p>{{ post.data.description }}</p>
      </li>
    {% endfor %}
  </ul>

<div class="pagination">
  {% if pagination.pageNumber > 0 and pagination.href.next %}
    <a href="{{ pagination.href.previous }}" class="pagination-prev">Previous Page</a> | 
    <a href="{{ pagination.href.next }}" class="pagination-next">Next Page</a>
  {% else %}
    {% if pagination.pageNumber > 0 %}
      <a href="{{ pagination.href.previous }}" class="pagination-prev">Previous Page</a>
    {% endif %}
  
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="pagination-next">Next Page</a>
    {% endif %}
  {% endif %}
</div>

</article>