@import 'tailwindcss/base';

@import 'global/reset.css';
@import 'global/fonts.css';

@import 'tailwindcss/components';

@import 'global/variables.css';
@import 'global/global-styles.css';

@import-glob 'blocks/*.css';
@import-glob 'compositions/*.css';
@import-glob 'utilities/*.css';

@import 'tailwindcss/utilities';

.post-feature-image {
  height: auto; /* Allow height to adjust based on the aspect ratio */
  width: 100%; /* Use 100% width to make it responsive */
  max-height: 400px; /* Set the max height to 400px */
  object-fit: cover; /* Maintain the aspect ratio */
  object-position: center; /* Center the image within the element */
}
  