---
# The era formerly called Enshittocene now lives at /platforms/. _redirects has
# 301s for these URLs, but Cloudflare wasn't applying them, so each old URL also
# gets a tiny page that forwards to its new home. The old URLs are fixed history
# (the section had three pages when it moved), so this list never needs to grow.
pagination:
  data: moved
  size: 1
  alias: move
moved:
  - from: /enshittocene/
    to: /platforms/
  - from: /enshittocene/page/2/
    to: /platforms/page/2/
  - from: /enshittocene/page/3/
    to: /platforms/page/3/
permalink: "{{ move.from }}index.html"
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Moved to Platforms | Cybercultural</title>
<link rel="canonical" href="{{ meta.url }}{{ move.to }}">
<meta name="robots" content="noindex">
<meta http-equiv="refresh" content="0; url={{ move.to }}">
<script>location.replace("{{ move.to }}" + location.search + location.hash);</script>
</head>
<body>
<p>This page has moved to <a href="{{ move.to }}">Platforms</a>.</p>
</body>
</html>
