---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
eleventyImport:
  collections: ["all"]
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set newestPostDate = collections.posts | getNewestCollectionItemDate %}
  {% for page in collections.all | markdownPages %}
  {#- Leave out pages Google is told not to index here: noindex pages, and posts
      whose canonical copy lives on another site (the RWW archive on ricmac.org). -#}
  {% set ownUrl = meta.url ~ page.url %}
  {% set canonicalElsewhere = page.data.canonical and page.data.canonical != ownUrl %}
  {% if page.url and page.data.excludeFromSitemap != true and not page.data.noindex and not canonicalElsewhere %}
  {% set lastmod = page | sitemapLastmod(newestPostDate) %}

    <url>
        <loc>{{ meta.url }}{{ page.url }}</loc>{% if lastmod %}
        <lastmod>{{ lastmod | toIsoString }}</lastmod>{% endif %}
    </url>
    {% endif %}
  {% endfor %}
</urlset>
