---
permalink: /feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/">
  <title>{{ meta.blog.name }}</title>
  <subtitle>{{ meta.blog.description }}</subtitle>
  <link href="{{ meta.url }}/feed.xml" rel="self" type="application/atom+xml" />
  <link href="{{ meta.url }}/subscribe/" rel="alternate" type="text/html" />
  {% set postslist = collections.posts | reverse %}
  <updated>{{ postslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>Richard MacManus</name>
  </author>
  {%- for post in postslist %}
    {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}" />
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content xml:lang="en-US" type="html">
  <![CDATA[
    {{ post.templateContent 
      | htmlToAbsoluteUrls(absolutePostUrl) 
      | replace(' loading="lazy"', '') 
      | replace('<lite-youtube ', '<iframe ') 
      | replace('</lite-youtube>', '</iframe>') 
    }}
  ]]>
</content>
    </entry>
  {%- endfor %}
</feed>
