---
permalink: /feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/">
  <title>{{ meta.blog.name }}: Internet History</title>
  <subtitle>{{ meta.blog.description }}</subtitle>
  <link href="https://cybercultural.com/feed.xml" rel="self" type="application/atom+xml" />
  <link href="https://cybercultural.com/" rel="alternate" type="text/html" />
  {% set postslist = collections.posts | reverse %}
  <updated>{{ postslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>Richard MacManus</name>
  </author>
  {%- for post in postslist %}
    {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}" />
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content xml:lang="en-US" type="html">
        <![CDATA[
          {{ post.templateContent 
            | htmlToAbsoluteUrls(absolutePostUrl)
            | replace(' loading="lazy"', '') 
            | replace(' loading="eager"', '') 
            | regexReplace(
                '<div class="youtube-embed">\\s*<lite-youtube[^>]*videoid="([^"]+)"[^>]*>.*?</lite-youtube>\\s*</div>',
                '<p><a href="https://www.youtube.com/watch?v=$1"><img src="https://i.ytimg.com/vi/$1/hqdefault.jpg" alt="Watch on YouTube"></a></p><p><a href="https://www.youtube.com/watch?v=$1">Watch Video on YouTube</a></p>'
              )
            | safe
          }}
        ]]>
      </content>
    </entry>
  {%- endfor %}
</feed>
