<nav id="mainnav" class="navbar" aria-label="Main">
  <ul>
    <li class="dropdown">
      <a class="nav" href="/internet-history" aria-haspopup="true" aria-expanded="false">Internet History</a>
      <ul class="dropdown-menu">
        <li><a href="/preweb">Pre-web</a></li>
        <li><a href="/dotcom">Dot-com</a></li>
        <li><a href="/web20">Web 2.0</a></li>
        <li><a href="/enshittocene">Enshittocene</a></li>
        <li><a href="/year">Year by Year</a></li>
        <li><a href="/on-this-day">On This Day</a></li>
      </ul>
    </li>
    <li><a class="nav" href="/p/roadmap-bubbleblog/">Book</a></li>
    <li><a class="nav" href="/blog">Blog</a></li>
    <li><a class="nav" href="/about">About</a></li>
    <li><a class="nav" href="/search">Search</a></li>
  </ul>
</nav>

<!--  template element holding a button that needs to be injected when JavaScript is finally available. based on an article by Manuel Matuzovic, https://web.dev/website-navigation/, see also https://kittygiraudel.com/2022/09/30/templating-in-html/ -->

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    <span>Menu</span>
    <svg width="24" height="24" aria-hidden="true">
      <path
        fill-rule="evenodd"
        d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
        clip-rule="evenodd" />
    </svg>
  </button>
</template>
